@import "tailwindcss";
@theme {
  --font-sans: "Inter", sans-serif;
  --animate-flicker: flicker 0.5s ease-in-out both;

  @keyframes flicker {
    0%,
    100% {
      opacity: 1;
    }
    40% {
      opacity: 0.1;
    }
  }
}
